$font-family: "Roboto", sans-serif;
$font-size: 2.5em;

$text-color: #343a40;
$text-color-white: #fff;
$text-color-secondary: #7b7b7b;
$text-color-hover: #ffbb33;
$text-placeholder: #b6b6b6;

$box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

$bg-color: #efefef;
$bg-color-secondary: #b4b2b2;
$bg-color-dark: #222;
$bg-color-box: #fff;

$border-color: #ddd;

$text-color-info: #00529b;
$bg-color-info: #bde5f8;

$text-color-success: #4f8a10;
$bg-color-success: #dff2bf;

$text-color-warning: #9f6000;
$bg-color-warning: #feefb3;

$text-color-error: #d8000c;
$bg-color-error: #ffbaba;
