@import "./../../utils/variables.scss";

.button {
  color: $text-color-white;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: $bg-color-dark;
  &:hover {
    color: $text-color-hover;
  }
}
